body {
    font-family: 'Roboto', sans-serif;
}


/* -----NAVBAR TOP----- */

.navbar-default {
    padding: 0 10px;
}

.navbar-top {
    font-size: 12px;
    line-height: 12px;
    padding-top: 12px;
    border-bottom: 1px solid rgb(229,232,237);
    display: none;
}

#new {
    background-color: rgb(0, 215, 210);
    margin-right: 10px;
    padding: 5px 8px;
    border-radius: 5px;
}

.business-link {
    display: inline-block;
}

.top-left {
    float: left;
    padding-top: 5px;
}

.top-right {
    float: right;
}

.top-right li a {
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 10px;

}

.navbar-default .navbar-nav>li>a:hover {
    background-color: #fafafa;
    color: #006aff;
}
/* -----FINE NAVBAR TOP---- */

/* -----NAVBAR BOTTOM----- */


/* -----FINE NAVBAR BOTTOM----- */

/* -----MEDIAQUERY----- */

@media all and (min-width: 768px) {
    .navbar-top {
        display: block;
    }

}
