* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    padding-top: 30px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

h1 {
    font-size: 31px;
    line-height: 120%;
}
h2 {
    font-size: 36px;
    line-height: 110%;
    color: #031b4e;
    text-align: center;
    padding-bottom: 20px;
}

h3 {
    font-size: 36px;
    color: #fff;
    text-align: center;
}

h4 {
    font-size: 15px;
    margin: auto;
    text-align: center;
    color: #5b6987;
    padding-bottom: 30px;
    letter-spacing: 1px;
}

h5 {
    font-size: 18px;
    color: #031b4e;
}

h6 {
    color: #fff;
    font-size: 16px;
    /* text-align: center; */
    margin-bottom: 15px;
}

ul {
    list-style: none;
    /* padding-inline-start: 0; */
}


#solution {
    text-align: center;
    padding-top: 30px;
}


/* -----NAVBAR TOP----- */

.navbar-default {
    padding: 0 10px;
}

.navbar-top {
    font-size: 12px;
    line-height: 12px;
    padding-top: 12px;
    border-bottom: 1px solid rgb(229,232,237);
    display: none;
}

#new {
    background-color: rgb(0, 215, 210);
    margin-right: 10px;
    padding: 5px 8px;
    border-radius: 5px;
}

.business-link {
    display: inline-block;
}

.top-left a {
    color: #5b6987;
}

.top-left a:hover {
    color: #006aff;
    text-decoration: none;
}

.top-left {
    float: left;
    padding-top: 5px;
}

.top-right {
    float: right;
}

.top-right li a {
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 10px;

}

.navbar-default .navbar-nav>li>a:hover {
    background-color: #fafafa;
    color: #006aff;
}
/* -----FINE NAVBAR TOP---- */

/* -----NAVBAR BOTTOM----- */
.navbar-brand {
    width: 200px;
}

.navbar-brand img {
    max-width: 100%;
}

.navbar-nav button {
    margin-right: 10px;
    margin-top: 8px;
}

.btn {
    background-color: #006aff;
    color: white;
}

.btn-default {
    color: #006aff;
    border-color: #006aff;
    background-color: #fff;
}

.btn-default:hover {
    color: #fff;
    background-color: #006aff;
    border-color: #006aff;
}

.btn:hover {
    color: white;
    text-decoration: none;
}

/* -----FINE NAVBAR BOTTOM----- */

/* -----JUMBOTRON----- */
#jumbotron {
    background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
    color: white;
    text-align: center;
    padding-top: 30px;
}

#jumbotron p {
    font-size: 24px;
    line-height: 150%;
    position: relative;
}

.form-title {
    text-align: center;
    border-bottom: 1px solid #f3f5f9;
    background-color: #f3f5f9;
    padding: 15px 0;
    border-radius: 6px;
}

.form-section {
    background-color: #fff;
    width: 100%;
    margin: auto;
    border-radius: 6px;
    font-size: 16px;
}

.input-section {
    margin: auto;
    padding: 20px;
    border-bottom: 1px solid  #f3f5f9;
}

.form-group {
    font-size: 16px;
}

.form-control {
    padding: 25px 12px;
}

.btn-primary {
    width: 100%;
    padding: 20px 12px;
}

.btn-bottom {
    margin: auto;
    padding: 20px;
}

.form-section .btn {
    font-size: 15px;
}

#google-btn {
    width: calc(80% - 2px);
    padding: 15px 12px;
}

#github-btn {
    width: calc(20% - 2px);
    padding: 15px 12px;
    text-align: center;
}

.terms {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 50px;
}

.terms small a {
    font-size: 12px;
    color: white;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1633ff;
    transition: all 0.3s ease;
}

.alert-info {
      text-align: center;
      background-color: rgb(3, 27, 78);
      border-radius: 6px;
      font-size: 15px;
      padding: 5px;
      color: white;
      border-color: rgb(3, 27, 78);
      margin-bottom: 30px;
}

/* -----FINE JUMBOTRON----- */

/* -----LOGOS----- */
#logos-partners {
    background-color: #f3f5f9;
    padding: 50px 0;
}

.single-logo {
    margin: auto;
    text-align: center;
}

#solution a {
    font-size: 16px
}

/* -----FINE LOGOS----- */
/* -----DEPLOY----- */
.subtitle {
    font-size: 20px;
    text-align: center;
    color: #5b6987;
    margin-bottom: 50px;
}

.list-of-choices {
    text-align: center;
    margin-bottom: 30px;
}

.list-of-choices li {
    padding: 0 12px;
    border-bottom: 2px solid #dbdbdb;
    display: inline-block;
}

.list-of-choices li:hover a{
    color: rgb(3, 27, 78);
}

.list-of-choices a {
    /* padding: 15px 20px; */
    color: rgba(3, 27, 78, 0.6);
    font-size: 12px;
    text-decoration: none;
    line-height: 30px;
}

.list-of-choices li:first-child a {
    color: rgb(3, 27, 78);
}

.deploy-description {
    padding-bottom: 40px;
    text-align: center;
}

.deploy-description img {
    margin-bottom: 10px;
}
/* -----FINE DEPLOY----- */

/* -----DESIGNS----- */
#designs {
    background-color: #f3f5f9;
}

#designs img {
    max-width: 100%;
}

.img-container {
    text-align: center;
}

.arrow {
    padding-top: 200px;
}

#carousel-desc {
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #006aff;
}

.dot:first-child {
    background-color: #006aff;
}

.dots {
    text-align: center;
    padding-top: 20px;
}


/* -----FINE DESIGNS----- */

/* -----BUSINESS DESCRIPTION----- */
#business-description h5 {
    padding: 10px 0;
}

#business-description p,
#business-description a {
    font-size: 16px;
}

#business-description i {
    font-size: 14px;
}

.business-container {
    text-align: center;
    padding: 30px 0;
}
/* -----FINE BUSINESS DESCRIPTION----- */

/* -----DATA CENTERS----- */
#data-centers {
    background: #031b4e url(https://prismic-io.s3.amazonaws.com/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg);
    color: white;
}

#data-centers h2,
#data-centers .subtitle
 {
    color: white;
}

#data-centers .subtitle a {
    color: #0069ff;
}


#data-centers .subtitle a:hover {
    color: #1633ff;
    text-decoration: none;
}

.speed {
    text-align: right;
    font-size: 12px;
}

.speed a {
    color: #00d7d2;
}

.city {
    color: #5b6987;
}

.speed a::after {
    content: "\f054";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
}

.table-row {
    border-bottom: 1px solid #5b6987;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 10px;
    margin: auto;
}

/* -----FINE DATA CENTERS----- */

/* -----TEAMS----- */
#development-teams {
    background-color: lightgrey;
}
.subtitle a {
    color: #0069ff;
}
.subtitle a:hover {
    text-decoration: none;
    color: #1633ff;
}

.testimonials {
    text-align: center;
    border: 1px solid black;
    background-color: #fff;
    padding: 40px 0;
    border: 1px solid #f3f5f9;
    box-shadow: 0px 2px 4px rgba(1,14,40,0.05);
    border-radius: 6px;
    margin-bottom: 50px;
}

.testimonials img {
    max-width: 200px;
}

.testimonials .story {
    font-size: 24px;
    padding-top: 30px;
    color: #5b6987;
    margin-bottom: 30px;
}

.testimonials a {
    color: #0069ff;
    font-size: 16px;
}

.testimonials a:hover {
    color: #1633ff;
    text-decoration: none;
}

.testimonials .name {
    font-size: 16px;
    color: #5b6987;
    margin: 0;
}

.testimonials small {
    color: lightgrey;
}

#development-team .arrow {
    padding-top: 120px;
}

/* -----FINE TEAMS----- */

/* -----GET STARTED----- */
#get-started {
    background-color: #0069ff;
    background-image: url(https://prismic-io.s3.amazonaws.com/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg);
}

#get-started .btn {
    background-color: #fff;
    color: #0069ff;
    max-width: 260px;
    margin-bottom: 20px;
}

.account {
    text-align: center;
}

/* -----FINE GET STARTED----- */
/* -----FOOTER----- */
footer {
    background-color: #010e28;
    padding-top: 80px;
}

.footer-column a {
    color: #768794;
    text-decoration: none;
    font-size: 14px;
}

.footer-column li {
    padding: 3px 0;
}

.footer-column li:hover a {
    color: #fff;
}

.bottom-footer {
    border-top: 1px solid #768794;
    padding: 30px 0;
}

.top-footer {
    padding-bottom: 30px;
}
.footer-logo, .copyright {
    display: inline-block;
}

.copyright {
    color: #768794;
}

.footer-logo {
    margin-right: 20px;
}

.footer-logo img {
    max-width: 100%;
}

.bottom-right img {
    filter: invert(60%);
}

.bottom-right a:hover img {
    filter: invert(100%);
}

.bottom-right ul {
    list-style: none;
}

.social-icons {
    display: inline-block;
}

.social-icons:not(:last-child) {
    margin-right: 10px;
}

.bottom-left, .bottom-right {
    text-align: center;
}

.bottom-left {
    margin-bottom: 20px;
}

/* -----FINE FOOTER----- */


/* -----MEDIAQUERY----- */
@media (min-width: 576px) {
    .btn-bottom {
        padding: 40px;
    }

    .input-section {
        padding: 40px;
    }

    .form-section {
        width: 70%;
    }

    .list-of-choices a {
        font-size: 16px;
    }

    .list-of-choices li:not(:last-child) {
        margin-right: 30px;
    }

    .footer-column {
        margin-bottom: 20px;
    }

}

@media all and (min-width: 768px) {
    main {
        padding-top: 30px;
    }
    .navbar-top {
        display: block;
    }
    .navbar-nav {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }
    .navbar-header {
        float: none;
    }
    h1 {
        font-size: 58px;
        padding-top: 50px;
    }

    #jumbotron {
        text-align: left;
        padding-top: 100px;
    }

    .list-of-choices li {
        padding: 0 20px;
    }

    #designs img {
        max-width: 80%;
    }

    .social-icons:not(:last-child) {
        margin-right: 20px;
    }

    .table-row {
        width: 70%;
        margin: auto;
    }

}
@media (min-width: 992px) {
    .navbar-nav {
        display: block;
    }

    .navbar-toggle {
        display: none;
    }
    .navbar-header {
        float: left;
    }

    section {
        padding: 80px 0;
    }

    .description {
        padding: 150px 0;
    }

    .deploy-description {
        text-align: left;
    }

    .list-of-choices li {
        padding-top: 20px;
        display: block;
        border-bottom: none;
        border-left: 2px solid #dbdbdb;
        text-align: left;
    }

    .list-of-choices li:hover {
        border-left: 2px solid #006aff;
    }

    .list-of-choices a {
        padding: 15px 20px;
        font-size: 16px;
    }

    .list-of-choices li:first-child a {
        color: rgb(3, 27, 78);
    }

    .list-of-choices li:first-child {
        border-left: 2px solid #006aff;
    }

    .business-container {
        margin-top: 30px;
        text-align: left;
        padding: 0;
    }

    #business-description p {
        padding-right: 30px;
    }

    .bottom-right {
        text-align: right;
    }

    .table-row {
        width: 90%;
    }
}
